In [1]:
import pandas as pd

In [44]:
df = pd.read_csv('../datas/real_estate_data_20211_20224_14.csv')

In [21]:
df.columns

Index(['Type', 'Region', 'MunicipalityCode', 'Prefecture', 'Municipality',
       'DistrictName', 'TradePrice', 'Area', 'UnitPrice', 'LandShape',
       'Frontage', 'Purpose', 'Breadth', 'CityPlanning', 'CoverageRatio',
       'FloorAreaRatio', 'Period', 'TotalFloorArea', 'BuildingYear',
       'Structure', 'FloorPlan', 'Renovation', 'Use', 'Remarks',
       'Frontage_over_flag', 'Area_over_flag', 'TotalFloorArea_over_flag',
       'TotalFloorArea_under_flag', 'BuildingYearW', 'TradeYear',
       'TradeQuarter', 'AgeAtTrade'],
      dtype='object')

In [53]:
def pv_count(df_, target_col):
    df2_ = df_.loc[:,['Area', target_col]].fillna('Nan')
    df_pv_= df2_.pivot_table(
        index=target_col, 
        values='Area', 
        aggfunc='count',
        fill_value=0
        ).sort_values('Area', ascending=False)
    
    df_pv_['Percentage'] = (df_pv_['Area'] / df_pv_['Area'].sum() * 100).round(1)
    df_pv_.columns = [target_col+'_count', target_col+'(%)']
    display(df_pv_.T.iloc[:,:15])

In [54]:
cols = ['Type', 'Region','Municipality', 'LandShape','Structure', 'Use', 'Purpose', 'CityPlanning', 'Period', 'FloorPlan', 'Renovation']
for col in cols:
    pv_count(df, col)

Type        宅地(土地と建物)  中古マンション等  宅地(土地)
Type_count    17100.0   15204.0  8752.0
Type(%)          41.7      37.0    21.3

Region            住宅地      Nan     商業地  宅地見込地    工業地
Region_count  24085.0  15204.0  1276.0  262.0  229.0
Region(%)        58.7     37.0     3.1    0.6    0.6

Municipality,藤沢市,横浜市港北区,横須賀市,横浜市鶴見区,相模原市南区,横浜市南区,横浜市戸塚区,横浜市神奈川区,横浜市青葉区,茅ヶ崎市,相模原市中央区,横浜市中区,横浜市旭区,川崎市川崎区,大和市
Municipality_count,1924.0,1675.0,1616.0,1366.0,1298.0,1263.0,1257.0,1245.0,1217.0,1200.0,1193.0,1182.0,1145.0,1130.0,1076.0
Municipality(%),4.7,4.1,3.9,3.3,3.2,3.1,3.1,3.0,3.0,2.9,2.9,2.9,2.8,2.8,2.6

LandShape,Nan,ほぼ長方形,長方形,不整形,ほぼ台形,袋地等,ほぼ整形,ほぼ正方形,台形,正方形
LandShape_count,15205.0,8352.0,5413.0,3545.0,2977.0,1903.0,1252.0,1251.0,966.0,192.0
LandShape(%),37.0,20.3,13.2,8.6,7.3,4.6,3.0,3.0,2.4,0.5

Structure,木造,Nan,ＲＣ,ＳＲＣ,軽量鉄骨造,鉄骨造,ＲＣ、木造,ブロック造,ＲＣ、鉄骨造,鉄骨造、木造,ＳＲＣ、ＲＣ,木造、ブロック造,鉄骨造、木造、ブロック造,ＲＣ、木造、ブロック造,ＳＲＣ、ＲＣ、鉄骨造
Structure_count,14090.0,11484.0,11223.0,2580.0,842.0,735.0,39.0,23.0,15.0,11.0,8.0,3.0,1.0,1.0,1.0
Structure(%),34.3,28.0,27.3,6.3,2.1,1.8,0.1,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Use,住宅,Nan,共同住宅,住宅、店舗,事務所,共同住宅、店舗,店舗,住宅、駐車場,その他,事務所、店舗,共同住宅、事務所,工場,住宅、事務所,倉庫,事務所、倉庫
Use_count,24184.0,14116.0,1527.0,173.0,155.0,118.0,111.0,97.0,63.0,46.0,39.0,36.0,35.0,35.0,30.0
Use(%),58.9,34.4,3.7,0.4,0.4,0.3,0.3,0.2,0.2,0.1,0.1,0.1,0.1,0.1,0.1

Purpose             住宅     Nan     その他    事務所     店舗     倉庫    工場
Purpose_count  34406.0  3386.0  2322.0  388.0  323.0  146.0  85.0
Purpose(%)        83.8     8.2     5.7    0.9    0.8    0.4   0.2

CityPlanning,第１種低層住居専用地域,第１種住居地域,第１種中高層住居専用地域,商業地域,近隣商業地域,準工業地域,第２種中高層住居専用地域,第２種住居地域,準住居地域,市街化調整区域,工業地域,Nan,市街化区域及び市街化調整区域外の都市計画区域,第２種低層住居専用地域,工業専用地域
CityPlanning_count,11166.0,7143.0,6757.0,4485.0,2406.0,2094.0,1605.0,1377.0,1175.0,1127.0,899.0,375.0,178.0,169.0,70.0
CityPlanning(%),27.2,17.4,16.5,10.9,5.9,5.1,3.9,3.4,2.9,2.7,2.2,0.9,0.4,0.4,0.2

Period,2021年第１四半期,2021年第２四半期,2021年第３四半期,2021年第４四半期,2022年第２四半期,2022年第１四半期,2022年第３四半期,2022年第４四半期
Period_count,5722.0,5612.0,5419.0,5266.0,4895.0,4829.0,4702.0,4611.0
Period(%),13.9,13.7,13.2,12.8,11.9,11.8,11.5,11.2

FloorPlan,Nan,３ＬＤＫ,２ＬＤＫ,１Ｋ,４ＬＤＫ,１ＬＤＫ,２ＤＫ,１ＤＫ,３ＤＫ,１Ｒ,２ＬＤＫ＋Ｓ,オープンフロア,１ＬＤＫ＋Ｓ,２Ｋ,３ＬＤＫ＋Ｓ
FloorPlan_count,26377.0,6658.0,2607.0,2535.0,867.0,599.0,421.0,318.0,211.0,154.0,106.0,83.0,34.0,16.0,14.0
FloorPlan(%),64.2,16.2,6.3,6.2,2.1,1.5,1.0,0.8,0.5,0.4,0.3,0.2,0.1,0.0,0.0

Renovation            Nan     未改装     改装済
Renovation_count  27760.0  9087.0  4209.0
Renovation(%)        67.6    22.1    10.3

In [38]:
import pandas as pd

# 仮のデータフレームを作成
data = {
    'Category': ['A', 'B', 'A', 'B', 'C', 'C', 'D', 'E'],
    'Value': [10, 20, 15, 30, 25, None, 40, None]
}

df = pd.DataFrame(data)

# pivot_tableを使ってaggfunc='count'で集計
pivot = df.pivot_table(index='Category', values='Value', aggfunc='count', fill_value=0)

print(pivot)

          Value
Category
A             2
B             2
C             1
D             1
E             0

In [39]:
df.dtypes

Category     object
Value       float64
dtype: object